pkgbase = saleae-logic2-appimage
	pkgdesc = Debug hardware like a pro (insider channel AppImage)
	pkgver = 2.4.47_insider.1
	pkgrel = 1
	url = https://www.saleae.com/pages/downloads
	install = saleae-logic2-appimage.install
	arch = x86_64
	arch = aarch64
	license = LicenseRef-Saleae-Proprietary
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libcups
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = systemd-libs
	provides = saleae-logic2=2.4.47_insider.1
	conflicts = saleae-logic
	conflicts = saleae-logic-beta
	conflicts = saleae-logic2
	noextract = saleae-logic2-appimage-2.4.47_insider.1.AppImage
	options = !strip
	options = !debug
	source = saleae-logic2.desktop
	source = saleae-logic2.png
	sha256sums = 5e00addb0efd37a8660d0b5a34bf2ec861d871e6ac42eb04957448657951c88a
	sha256sums = b88b00ced0ca48aff9e1b2b4b22f6685f79c311f4efcdcabb7e6c358af508d11
	source_x86_64 = saleae-logic2-appimage-2.4.47_insider.1.AppImage::https://downloads2.saleae.com/logic2/release_channels/insider/Logic-2.4.47-insider.1-linux-x64.AppImage
	sha256sums_x86_64 = 59cc9c1dc43776d28d5f97b483b5293e996b0529b6047d1c11d19a40b0b5e337
	source_aarch64 = saleae-logic2-appimage-2.4.47_insider.1.AppImage::https://downloads2.saleae.com/logic2/release_channels/insider/Logic-2.4.47-insider.1-linux-arm64.AppImage
	sha256sums_aarch64 = b94263bf642ee5ed4b4fd3c9c5094c36a320fdb4cba4a2c5a0d477b84539c8be

pkgname = saleae-logic2-appimage
